 <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><a [routerLink]="['/login']" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i class="material-icons">m</i></a>
      <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
        <div class="mdl-layout__header-row site-logo-row"><span class="mdl-layout__title">
            <div class="site-logo"></div><span class="site-description">Top Bonheur</span></span></div>
        <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
          <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link" [routerLink]="['/blog']">Blog</a><a class="mdl-navigation__link" [routerLink]="['/forum']" *ngIf="dataService.logged">Forum</a><a class="mdl-navigation__link" [routerLink]="['/chat']" *ngIf="dataService.logged">Chat</a><a class="mdl-navigation__link" [routerLink]="['/about']">A propos</a>
          <a class="mdl-navigation__link" [routerLink]="['/photos']">Nos photos </a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link" [routerLink]="['/blog']">Blog</a><a class="mdl-navigation__link" [routerLink]="['/forum']" *ngIf="dataService.logged">Forum</a><a class="mdl-navigation__link" [routerLink]="['/chat']" *ngIf="dataService.logged">Chat</a><a class="mdl-navigation__link" [routerLink]="['/about']">A propos</a>
          <a class="mdl-navigation__link" [routerLink]="['/photos']">Nos photos </a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="site-content">
          <div class="mdl-grid site-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
              <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Contact</h1>
              </div>
              <div class="mdl-card__media"><img class="article-image" src="/assets/img/contact.jpg" border="0" alt="Contact">
              </div>
              <div class="mdl-grid site-copy">
                <div class="mdl-cell mdl-cell--12-col"><div class="mdl-card__supporting-text">
  <p>Contactez notre association à l'aide de ce formulaire:</p>
  <form action="https://formspree.io/email@example.com" method="POST" class="form-contact">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name" name="name">
          <label class="mdl-textfield__label" for="Name">Nom...</label>
          <span class="mdl-textfield__error">Vous devez remplir ce champ </span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="Email" name="_replyto">
          <label class="mdl-textfield__label" for="Email">Email...</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows="5" id="note" name="message"></textarea>
          <label class="mdl-textfield__label" for="note">Votre note</label>
      </div>
      <p>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
              Soumettre votre constat
          </button>
      </p>
  </form>
</div></div>
              </div>
            </div>
          </div>
        </div>
        <footer class="mdl-mini-footer">
          <div class="footer-container">
            <div class="mdl-logo">&copy; Copyright: <a [routerLink]="['/']" target="_blank">Top Bonheur</a></div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="">2017</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
